<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <h2 class="text-sm title-font text-gray-500 tracking-widest">REGISTRAR UN PAGO</h2>
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <select
        class="rounded border border-gray-700 focus:ring-2 focus:ring-purple-900 bg-transparent appearance-none py-2 focus:outline-none focus:border-purple-500 text-white pl-3 pr-10">
        <option>SM</option>
        <option>M</option>
        <option>L</option>
        <option>XL</option>
      </select>


      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <div class="flex mb-4">

        </div>
        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-800 mb-5">
          <div class="flex">
          </div>
        </div>
        <div class="flex">
          <button
            class="flex ml-auto text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none hover:bg-purple-600 rounded">GUARDAR</button>
          <button
            class="flex ml-auto text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none hover:bg-purple-600 rounded">CANCELAR</button>

        </div>
      </div>
    </div>
  </div>
</section>