<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <h2>ÚLTIMO PAGO</h2>
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <th
            class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
          >
            Nº Socio
          </th>
          <th
            class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
          >
            Nombre
          </th>
          <th
            class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
          >
            1º apellido
          </th>
          <th
            class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
          >
            2º apellido
          </th>
          <th
            class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
          >
            DNI
          </th>
          <th
            class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
          >
            Ver/Editar
          </th>
          <th
            class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
          >
            Descargar
          </th>
          <th
            class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
          >
            Eliminar
          </th>
        </thead>
        <tbody>
          @if(ultimoPago){
          <td class="px-4 py-3">{{ ultimoPago.numeroSocio }}</td>
          <td class="px-4 py-3">{{ ultimoPago.nombre }}</td>
          <td class="px-4 py-3">{{ ultimoPago.primerApellido }}</td>
          <td class="px-4 py-3">{{ ultimoPago.segundoApellido }}</td>
          <td class="px-4 py-3">{{ ultimoPago.dni }}</td>
          <td class="w-10 text-center">
            <button
              class="text-blue-500"
              (click)="ObtenerPago(ultimoPago.numeroSocio)"
              title="Haz clic para visualizar el pago"
            >
              <mat-icon>visibility</mat-icon>
            </button>
            <button
              class="text-blue-500"
              (click)="OpenPagoDialog(ultimoPago.numeroSocio)"
              title="Haz clic para editar."
            >
              <mat-icon>edit_note</mat-icon>
            </button>
          </td>
          <td class="w-10 text-center">
            <button
              class="text-blue-500"
              (click)="DescargarCarnet(ultimoPago.numeroSocio)"
              title="Haz clic para descargar el carnet de socio"
            >
              <mat-icon>credit_card_heart</mat-icon>
            </button>
            <button
              class="text-blue-500"
              (click)="DescargarJustificante(ultimoPago.numeroSocio)"
              title="Haz clic para descargar el justificante"
            >
              <mat-icon>assignment</mat-icon>
            </button>
          </td>
          <td class="w-10 text-center">
            <button
              class="text-red-500"
              (click)="DeletePago(ultimoPago.numeroSocio)"
              title="Haz clic eliminar el pago."
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          }
        </tbody>
      </table>

      <br /><br />

      <h2>LISTA DE PAGOS</h2>
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <tr>
          <th>
            <div class="mb-4">
              <label for="apellidoFiltro" class="text-white"
                >Filtrar por apellido:
              </label>
              <input
                type="text"
                id="apellidoFiltro"
                [(ngModel)]="apellidoFiltro"
                class="texto-negro text-black"
              />
            </div>
          </th>
          <th>
            <div class="mb-4">
              <label for="socioFiltro" class="text-white"
                >Filtrar por Nº de socio:
              </label>
              <input
                type="number"
                id="socioFiltro"
                [(ngModel)]="socioFiltro"
                class="texto-negro text-black"
              />
            </div>
          </th>
          <th>
            <div class="mb-4">
              <label for="dniFilter" class="text-white"
                >Filtrar por DNI:
              </label>
              <input
                type="text"
                id="dniFilter"
                [(ngModel)]="dniFiltro"
                class="texto-negro text-black"
              />
            </div>
          </th>
        </tr>
      </table>

      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
            >
              Nº Socio
            </th>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
            >
              Nombre
            </th>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
            >
              1º apellido
            </th>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
            >
              2º apellido
            </th>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
            >
              DNI
            </th>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
            >
              Ver/Editar
            </th>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
            >
              Descargar
            </th>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 text-center"
            >
              Eliminar
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let socio of listSocios"
            [ngClass]="{
              hidden:
                (apellidoFiltro &&
                  !removeAccents(socio.primerApellido.toLowerCase()).includes(
                    removeAccents(apellidoFiltro.toLowerCase())
                  )) ||
                (dniFiltro &&
                  !removeAccents(socio.dni.toLowerCase()).includes(
                    removeAccents(dniFiltro.toLowerCase())
                  )) ||
                (socioFiltro &&
                  !socio.numeroSocio
                    .toString()
                    .includes(socioFiltro.toString()))
            }"
          >
            <td class="px-4 py-3">{{ socio.numeroSocio }}</td>
            <td class="px-4 py-3">{{ socio.nombre }}</td>
            <td class="px-4 py-3">{{ socio.primerApellido }}</td>
            <td class="px-4 py-3">{{ socio.segundoApellido }}</td>
            <td class="px-4 py-3">{{ socio.dni }}</td>
            <td class="w-10 text-center">
              <button
                class="text-blue-500"
                (click)="ObtenerPago(socio.numeroSocio)"
                title="Haz clic para visualizar el pago"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button
                class="text-blue-500"
                (click)="OpenPagoDialog(socio.numeroSocio)"
                title="Haz clic para editar."
              >
                <mat-icon>edit_note</mat-icon>
              </button>
            </td>
            <td class="w-10 text-center">
              <button
                class="text-blue-500"
                (click)="DescargarCarnet(socio.numeroSocio)"
                title="Haz clic para descargar el carnet de socio"
              >
                <mat-icon>credit_card_heart</mat-icon>
              </button>
              <button
                class="text-blue-500"
                (click)="DescargarJustificante(socio.numeroSocio)"
                title="Haz clic para descargar el justificante"
              >
                <mat-icon>assignment</mat-icon>
              </button>
            </td>
            <td class="w-10 text-center">
              <button
                class="text-red-500"
                (click)="DeletePago(socio.numeroSocio)"
                title="Haz clic eliminar el pago."
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<app-modal-pago
  *ngIf="showModalFlag"
  [pagoSocio]="pagoSocio"
  (closeModal)="HideModal()"
></app-modal-pago>
<app-modal-eliminar-pago
  *ngIf="showModalEliminarFlag"
  [pagoSocio]="pagoSocio"
  (closeModal)="HideModalEliminar()"
  (confirmarEliminacion)="confirmarEliminacion(pagoSocio.pagoId)"
></app-modal-eliminar-pago>
